// Mixin by Peter Klein on https://codepen.io/pmk/pen/mjjOpw
@mixin jetflame($baseColor: red, $borderRadius: none) {
	$hue: hue($baseColor) / 1deg;
	$color1: adjust-hue(rgba(200, 0, 0, 1), $hue);
	$color2: adjust-hue(rgba(255, 0, 0, 1), $hue);
	$color3: adjust-hue(rgba(255, 255, 0, 1), $hue);
	$color4: adjust-hue(rgba(255, 255, 240, 1), $hue);
  $jetflame-number: 0 !default !global;
  $jetflame-number: $jetflame-number + 1 !global;

	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	border-radius: $borderRadius;
	animation: jetflameanim 1s infinite;
	filter: blur(2px);
	background-image: radial-gradient(
			ellipse at bottom,
			$color1 0%,
			$color1 10%,
			rgba($color1, 0) 70%,
			rgba($color1, 0) 100%
		),
		radial-gradient(
			ellipse at bottom,
			$color2 0%,
			$color2 10%,
			rgba($color2, 0) 60%,
			rgba($color2, 0) 100%
		);
	background-repeat: no-repeat;
	@content;

	&:before,
	&:after {
		position: absolute;
		content: "";
		bottom: inherit;
		left: inherit;
		border-radius: inherit;
		animation: inherit;
		background-repeat: inherit;
	}

	&:before {
		height: 65%;
		width: 70%;
		left: 15%;
		animation-duration: 1.1s;
		background-image: radial-gradient(
			ellipse at bottom,
			$color3 0%,
			$color3 10%,
			rgba($color3, 0) 70%,
			rgba($color3, 0) 100%
		);
	}

	&:after {
		height: 40%;
		width: 30%;
		left: 35%;
		animation-duration: 1.2s;
		background-image: radial-gradient(
			ellipse at bottom,
			$color4 0%,
			$color4 10%,
			rgba($color4, 0) 70%,
			rgba($color4, 0) 100%
		);
	}
	
	@at-root {   
		@if ($jetflame-number == 1) {
			@keyframes jetflameanim {
				0%,
				100% {
					transform-origin: bottom center;
					transform: scaleY(1.02) skewX(-0.2deg);
				}
				50% {
					transform: scaleY(0.98) skewX(0.2deg);
				}
			}
		}
	}			
}

/* Parent animation sequences */
@keyframes jetanim {
	0%,
	100% {
		transform-origin: bottom center;
		transform: scalex(1);
	}
	10% {
		transform: scale(0.8, 0.6);
	}
	50% {
		transform: scaleY(0.98);
	}
	50% {
		transform: scaleY(0.58);
	}
	70% {
		transform: scaleY(0.88);
	}
	80% {
		transform: scaleY(0.68);
	}
	90% {
		transform: scaleY(0.88);
	}
}

.jetanim {
	animation: jetanim 0.3s linear infinite;
}

.jetwrapper {
	/* This is the parent, which defines the size of the jetflame */
	margin: 1em auto;
	position: relative;
	height: 200px;
	width: 50px;
}

.jet {
	@include jetflame();
}
